@model RentAll_Pro_Web.Data.Models.Service

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TicketNr" class="control-label"></label>
                <input asp-for="TicketNr" class="form-control" />
                <span asp-validation-for="TicketNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceType" class="control-label"></label>
                <input asp-for="ServiceType" class="form-control" />
                <span asp-validation-for="ServiceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Technician" class="control-label"></label>
                <input asp-for="Technician" class="form-control" />
                <span asp-validation-for="Technician" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceDate" class="control-label"></label>
                <input asp-for="ServiceDate" class="form-control" />
                <span asp-validation-for="ServiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostAmount" class="control-label"></label>
                <input asp-for="CostAmount" class="form-control" />
                <span asp-validation-for="CostAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
